.navigate {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    top:0;
    background: white;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

/* From uiverse.io by @alexruix */
.search-bar {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin-right: auto;
    margin-left: auto;
    max-width: 70vh;
    min-width: 10vh;
    flex-grow: 2;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem 0 3rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    padding-left: 4vh;
    color: #9e9ea7;
}

.input:focus, input:hover {
    outline: none;
    border-color: rgba(177, 218, 231,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(177, 218, 231);
}

.icon {
    position: relative;
    left: 2rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}


/* From uiverse.io by @alexmaracinaru */
.button--nav {
    position: relative;
    padding: 12px 18px;
    margin-right: 2vh;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.button--nav:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.button--nav span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.button--nav svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.button--nav:hover:before {
    width: 100%;
    background: #b1dae7;
}

.button--nav:hover svg {
    transform: translateX(0);
}

.button--nav:active {
    transform: scale(0.95);
}

.logo {
    padding-left: 5vh;
    position: relative;
    left: 0;
}

.nav-buttons {
    position: relative;
    right: 3vh;
}

.nav-buttons-left {
    position: relative;
    padding-left: 5vh;
}



