.register-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.register-slogan {
    margin-top: 5vh;
    margin-left: 2vh;
    text-decoration: none;
    color: #000000;
    font-size: x-large;
    font-weight: bolder;
}

.register-sign {
    display: flex;
    flex-direction: column;
    margin-top: 27vh;
    margin-right: 20vh;
    flex-wrap: wrap;
}

.register-logo {
    font-size: xx-large;
}

.register-logo > img {
    transition: 0.3s;
}

.register-logo > img:hover {
    transition: 0.3s;
    scale: 1.1;
}

/* From uiverse.io by @alexmaracinaru */
.register-form-card {
    border-radius: 10px;
    margin-top: 20vh;
    width: 230px;
    height: 380px;
    background: #F4F6FB;
    border: 1px solid white;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
    padding: 25px;
}

.register-card_header {
    display: flex;
    align-items: center;
}

.register-form-card svg {
    color: #7878bd;
    margin-bottom: 20px;
    margin-right: 5px;
}

.register-form_heading {
    padding-bottom: 20px;
    font-size: 21px;
    color: #7878bd;
}

.register-field {
    padding-bottom: 10px;
}

.register-input {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 5px;
    width: 100%;
    color: #7a7ab3;
    border: 1px solid #dadaf7
}

.register-input:focus-visible {
    outline: 1px solid #aeaed6;
}

.register-input::placeholder {
    color: #bcbcdf;
}

label {
    color: #B2BAC8;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
}

.register-button--submit {
    border-radius: 5px;
    background-color: #7878bd;
    margin-top: 10px;
    font-size: 14px;
    padding: 7px 12px;
    font-weight: 500;
    color: white;
}

.register-button--submit:hover {
    background-color: #5f5f9c;
}

@media screen and (max-width: 500px) {
    .register-page{
        justify-content: center;
    }

    .register-sign{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 6vh;
    }

    .register-logo{
        margin-left: 20vh;
    }

    .register-slogan{
        display: none;
    }

    .register-form-card{
        margin-top: 5vh;
    }
}