.navigate {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    top:0;
    background: white;
    width: 100vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid #7c7c7d;
    text-align: center;
}

.input--search {
    position: relative;
    display:inline-block;
    height: 5vh;
    width: 40%;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    background: #e0e0e0;
    border: none;
    border-bottom: 3px solid #7c7c7d;
    transition: 0.3s;
}

.input--search::placeholder {
    text-align: center;
}

.input--search:focus {
    border: none;
    outline: none;
    border-bottom: 3px solid #7c7c7d;
    background: #f0f2f5;
    transition: 0.3s;
}

.icon {
    position: relative;
    left: 2rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}


/* From uiverse.io by @alexmaracinaru */
.button--nav {
    position: relative;
    padding: 12px 18px;
    margin-right: 2vh;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.button--nav:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.button--nav span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.button--nav:hover:before {
    width: 100%;
    background: #b1dae7;
}

.button--nav:hover svg {
    transform: translateX(0);
}

.button--nav:active {
    transform: scale(0.95);
}

.logo {
    padding-left: 5vh;
    position: relative;
    left: 0;
    transition: 0.3s;
}

.logo:hover {
    scale: 1.1;
    transition: 0.3s;
}

.nav-buttons {
    position: relative;
    right: 3vh;
}

.nav-buttons-left {
    position: relative;
    padding-left: 5vh;
}

.expanse {
    margin-right: 4vw;
}

.expanse-button {
    position: relative;
    width: 20vw;
    height: 40px;
    border: none;
    font-size: large;
    font-weight: bold;
    color: #234567;
}

.expanse-items {
    display: flex;
    flex-direction: column;
}

.expanse-button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #b1dae7;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.expanse-button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.expanse-item {
    height: 20px;
    border: none;
    color: #234567;
    transition: 0.3s;
}

.expanse-item:hover {
    border-bottom: 3px solid #7c7c7d;
    transform: translateX(1px);
}

@media screen and (max-width: 500px) {
    .expanse-button {
        margin-right: 3vw;
    }

    .expanse-items {
        margin-right: 3vw;
    }
}